archive.zip
.vs/StartCalculator/FileContentIndex/c9bbe1b9-743d-46ae-a3ef-aec26ec50512.vsidx
.vs/StartCalculator/FileContentIndex/read.lock
.vs/StartCalculator/FileContentIndex/af940544-e71f-4332-8612-a4a8c7e1628d.vsidx
